{% minify %}
<!doctype html>
<html lang="{{ currentSite.language }}">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    {% if craft.app.config.env != 'production' %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% include ['./_shared/_seo'] ignore missing %}
    {% include ['./_shared/_favicons'] ignore missing %}
    {% include ['./_shared/_wheelform-head'] ignore missing %}
    <link rel="stylesheet" href="{{ url('assets/dist/app.css') }}" media="screen">
  {% endblock %}
  {% if head['scripts'] is defined and head['scripts'] | length %}
    {{ head['scripts']|raw }}
  {% endif %}
  <style>
    {% set mobileMenuColor = '#165A5C' %}
    {% if entry['mobileHamburgerColour'] is defined and entry['mobileHamburgerColour'] | length %}
    {% set mobileMenuColor = entry['mobileHamburgerColour'] %}
    {% endif %}
    #trigger-mobile-menu.hamburger .hamburger-inner{
      background-color: {{ mobileMenuColor }};
    }
    #trigger-mobile-menu.hamburger .hamburger-inner:before{
      background-color: {{ mobileMenuColor }};
    }
    #trigger-mobile-menu.hamburger .hamburger-inner:after{
      background-color: {{ mobileMenuColor }};
    }
  </style>
</head>
{% if entry is defined %}
  {% set section = entry.getSection() %}
  {% set handle = section.handle %}
{% endif %}
<body class="{{ bodyClass | default()  }} {{ handle }} w-full bg-{{ entry['baseBgColour']??baseBgColour }}">
{% if body['scripts'] is defined and body['scripts'] | length %}
  {{ body['scripts']|raw }}
{% endif %}
<div class="flex flex-col">
  {% include ['./_shared/_header'] ignore missing %}
  <main role="main" class="w-full flex flex-col {% if generalSettings['enableTopBar'] is defined and generalSettings['enableTopBar'] is same as(true) %}pt-11{% endif %}">
    {% if entry['heroContentLanding'] is defined and entry['heroContentLanding'] is iterable %}
      {% for block in entry.heroContentLanding.all() %}
        {% set blockName = block.type.handle | lower %}
        {{ blockName }}
        {% include ['./default/_blocks/_block_' ~ blockName] ignore missing %}
      {% endfor %}
    {% else %}
      test
    {% endif %}
  </main>
  {% include ['./_shared/_footer'] ignore missing %}
</div>
<script src="{{ siteUrl }}assets/dist/app.js"></script>
{% if footer['scripts'] is defined and footer['scripts'] | length > 0 %}
  {{ footer['scripts']|raw }}
{% endif %}
</body>
</html>
{% endminify %}
